.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px dashed #8c00a2;
  border-radius: 8px;
  width: 480px;
  margin-bottom: 10px;
  cursor: pointer;
}
.upload-area .upload-content-limit {
  padding: 10px;
  color: #8c00a2;
}
.upload-area .upload-content-tips {
  padding: 10px;
  color: #888;
}
.upload-area .upload-img {
  background-color: #8c00a2;
  border-radius: 27%;
}
