.voting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px, 20px;
  width: 100%;
  min-height: 460px;
  position: relative;
}
.voting-container .ant-card-cover {
  background: #aaa;
  height: auto;
}
.voting-container .ant-card-cover img {
  border-radius: 0%;
  height: 240px;
}
.organizer-info {
  border-radius: 10px;
  width: 240px;
  background: #b452c3;
}
.organizer-info .ant-card-head {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.organizer-info .ant-card-meta-title {
  color: #ffffff;
}
.organizer-info .ant-card-meta-description {
  color: #ffffff;
}
.organizer-info .ant-card-cover {
  background: #aaa;
  height: auto;
}
.organizer-info .ant-card-cover img {
  border-radius: 0%;
  height: 240px;
}
