@import 'assets/reset.min.css';
html,
body {
  height: 100%;
  background: #eee;
}
#root {
  min-height: 100%;
  background: #fff;
  margin: 0 auto;
}
.ux-logo {
  width: 136px;
  min-width: 120px;
  height: 36px;
  background: #fbd6d6;
  border-radius: 6px;
  margin-inline-end: 24px;
  line-height: 36px;
  margin: 0 auto;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #8c00a2;
}
.ant-layout-header {
  background: #fbd6d6;
  padding: 0 20px;
}
.ant-layout-header .ant-menu-light {
  background: #fbd6d6;
}
.ant-layout-header .ant-menu-light .ant-menu-item {
  border-radius: 10%;
  color: #8c00a2;
}
.ant-layout-header .ant-menu-light .ant-menu-item.ant-menu-item-selected {
  color: #8c00a2;
  font-weight: bold;
  background-color: #fbd6d6;
}
.ant-layout-header .ant-menu-light .ant-menu-item.ant-menu-item-selected:after {
  border-bottom-color: #8c00a2;
}
.ant-layout-header .ant-menu {
  margin: auto 100px;
}
.ant-layout-header .ant-btn {
  border-color: #8c00a2;
  color: #8c00a2;
}
.connected-wallet {
  display: flex;
  line-height: 36px;
  justify-content: center;
}
.connected-wallet .connected-wallet-img {
  align-self: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
.connected-wallet .connected-wallet-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
  font-size: 18px;
  color: #8c00a2;
}
.connected-wallet .paper {
  align-self: center;
  height: 24px !important;
  width: 24px !important;
  border-radius: 50%;
  margin-right: 10px !important;
}
